.page-title {
	.breadcrumb {
		padding: 6px 0;
	}
}
.page-title-style-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	background-image: url("../../images/banner/health-and-medical-banner.jpg");
	position: relative;

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.4);
	}

	h1 {
		color: $white;
	}

	.breadcrumb-item,.breadcrumb-item a {
		color: $white !important;
	}

	.breadcrumb-item a:hover {
		color: $primary !important;
	}

	.breadcrumb-item + .breadcrumb-item::before {
		color: $white;
	}


	.container {
		height: 100%;
		position: relative;
		z-index: 2;
	}
}

.page-title-style-no-background {
	padding-top: 210px;
	padding-bottom: 30px;
	text-align: center;
}