.home-job {
	.toggle-icon:hover {
		color: $primary;
	}
	.banner {
		background-image: url("../../images/banner/jobs-banner.jpg");

		.banner-content {
			padding-top: 170px;
			padding-bottom: 198px;
		}

		.heading {
			h1 {
				font-size: 72px;
				@include media-breakpoint-down(sm) {
					font-size: 60px;
				}
			}
		}
	}

	.form-search {
		margin-top: 50px;

		.dropdown-menu {
			max-height: 150px;
		}
	}
	.top-jobs {
		.view-more {
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			margin-top: 50px;
			color: $black;
			font-size: 16px;

			i {
				margin-left: 5px;
			}
		}
	}

	.trust-by {
		.heading {
			padding-top: 80px;
			margin-bottom: 85px;
		}
	}

}

.job-spotlight {
	.heading {
		margin-bottom: 40px;
	}
}
