.home-automotive-service {
	.main-header, .header-wrapper {
		background: transparent;
	}

	.toggle-icon:hover {
		color: $primary;
	}

	.banner {
		background-image: url("../../images/banner/automotic-service-home-banner.jpg");

		.banner-content {
			padding-top: 223px;
			padding-bottom: 160px;
		}

		.form-search-item label, .advance-search .title {
			font-weight: 700;
		}

		.heading {
			margin-bottom: 45px;

			h1 {
				font-size: 60px;
				letter-spacing: -0.05em;
			}
		}

		#region::placeholder {
			color: $black;
		}

		@media screen and (max-width: 992px) {
			height: auto;
			padding-bottom: 0;
			.heading-title {
				font-size: 36px;
			}

		}
	}

	.categories {
		.heading {
			max-width: 910px;
			margin-right: auto;
			margin-left: auto;
		}

		.heading-description {
			margin-top: 33px;
		}
	}
}

.bg-pattern-01 {
	background-image: url("../../images/other/background-thedir-cover.jpg");
	background-size: cover;
	background-position: center;
}