.home-hotel {
	.main-header, .header-wrapper {
		background: transparent;
	}
	.toggle-icon:hover {
		color: $primary;
	}
	.banner {
		background-image: url("../../images/banner/hotels-banner.jpg");

		.heading {
			margin-bottom: 60px;

			h1 {
				font-size: 60px;
			}
		}
	}

	.traveler-choice {
		padding-top: 85px;
		padding-bottom: 110px;

		.slick-arrow i {
			font-size: 36px !important;
			font-weight: 300 !important;
		}
	}

	.popular-destination {
		padding-top: 80px;
		padding-bottom: 98px;

		.arrow i {
			font-size: 24px !important;
			font-weight: 300 !important;
		}

		.slick-prev {
			margin-right: 25px !important;
		}

		@media screen and (max-width: 1500px) {
			.popular-destination-container {
				max-width: 1170px;
				margin: 0 auto;
			}
		}
	}

	.why-choose {
		padding-bottom: 108px;
	}

	.listing-popular-destination {
		padding-bottom: 109px;

		.list-group-item a {
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}
.bg-pattern-01 {
	background-image: url("../../images/other/background-thedir-cover.jpg");
	background-size: cover;
	background-position: center;
}