.home-shopping {
	.toggle-icon:hover {
		color: $primary;
	}
	.banner {
		background-image: url("../../images/banner/shopping-banner.jpg");
		height: 857px;

		&::after {
			display: none;
		}

		.section-search {
			background: #fff;

			.form-control {
				background: #f4f4f4;
				border: 1px solid $border-color;
			}

			.dropdown-menu {
				background: #f4f4f4;
			}
		}

		@include media-breakpoint-down(lg) {
			height: 900px !important;
		}


	}

	.top-store {
		padding-bottom: 165px;
	}

	.popular-shopping {
		.slick-arrow {
			top: calc(50% - 40px);
		}

		.slick-arrow i {
			font-size: 24px;
		}
		.slick-dots {
			top: 113%;
		}
	}
}
.bg-pattern-01 {
	background-image: url("../../images/other/background-thedir-cover.jpg");
	background-size: cover;
	background-position: center;
}
